*{
  margin: 0;
  padding: 0;
}
ul{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.home-page:hover{
  color: red;
}
.home-page:active{
  color: black;
  border: 1px solid black;
  background-color: grey;
}